.NumberBlogListCard-col-os h2 {
 
    font-style: normal;
    font-weight: 500;
    font-size: 22.2253px;
    line-height: 31px;
    color: #2B2B2B;
    padding: 1rem 0 1rem;
}

.NumberBlogList_blog .loader-os {
    width: 100%;
}

.NumberBlogListCard-col-os p {
 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
    padding-bottom: 1rem;
}

.center_pagination .css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #9174ca;
}

.blogs-num-os {
    width: 100%;
    padding: 0 6rem;
    padding-top: 1rem;
}

.blog_content {
    cursor: pointer;
}

.blogs-num-os p {
 
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    padding-bottom: 15px;
}

.NumberBlogList-os {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem 0%;
}

.NumberBlogList-os>div {
    width: 31%;
    background: #ffffff;
    /* box-shadow: 0px 4px 15px rgba(244, 238, 255, 0.8); */
    border-radius: 10px;
    padding: 1.5rem 1.5rem;
}

.blogs-sub-heading {
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  color: var(--primary)  ;
}

.blogs-links-heading-os {
 
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    padding-bottom: 12px;
}

/* Lakhwinder  */
.blogs-num-os p {
    margin-bottom: 1rem !important;
}

.NumberBlogList_blog {
    display: flex;
    flex-wrap: wrap;
    padding: 0 6rem;
    padding-top: 2rem;
    gap: 20px;
}

.grid_blog {
    width: 31.5%;
}

.blog_content img {
    border-radius: 10px;
    width: 100%;
    background: #cccccc52;
    cursor: pointer;
}

.blog_content h2 {
    color: #2B2B2B;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 10px;
 
    font-style: "normal";
    font-weight: 500;
    line-height: 33px;
}

.blog_content p {
    color: #2B2B2B;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 4rem;

    font-weight: 300;
    line-height: 35px;
    font-size: 18px;
}

span.date {
    color: #2B2B2B;
    margin-bottom: 10px;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
 
}

.center_pagination {
    display: flex;
    justify-content: center;
    /* margin-bottom: 2rem; */
}

@media screen and (max-width: 1200px) {
    .NumberBlogList_blog {
        gap: 18px;
    }

    .grid_blog {
        width: 31%;
    }
}

@media screen and (max-width: 991px) {
    .NumberBlogList-os {
        gap: 2rem 4%;
    }

    .NumberBlogList-os>div {
        width: 48%;
    }

    .NumberBlogList_blog {
        gap: 22px;
    }

    .grid_blog {
        width: 48%;
    }

    .blog_content p {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 767px) {
    .NumberBlogList-os>div {
        width: 100%;
    }

    .NumberBlogList_blog {
        padding: 0 2rem;
    }

    .blog_content p {
        margin-bottom: 0rem;
    }

    .center_pagination {
        margin-top: 1rem;
    }

    .grid_blog {
        width: 100%;
    }

}

@media screen and (max-width: 576px) {
    .NumberBlogListCard-col-os h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .blogs-sub-heading {
        font-size: 20px;
        line-height: 28px;
    }

    .blogs-num-os {
        padding: 0px 2rem;
    }
}
