.CityParagraph-heading-os {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #333;
}
@media screen and (max-width: 1028px) {
  .CityParagraph-heading-os {
    font-size: 16px;
    line-height: 24px;
  }
}
