.CategoriesContent-os h6{margin:0;font-size:18px;line-height:24px;font-family:Roboto,sans-serif;font-weight:500}.CategoriesContent-list-items-os li,.CategoriesContent-row-os p{font-size:16px;line-height:24px;color:#000}.CategoriesContent-row-os p{padding-bottom:10px}
section.CategoriesContent-section-os.default-section-os {
    margin-top: 1rem;
}