.PurchaseNumberCard-col-os h5 {

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--primary);
  margin: 0;
}
.PurchaseNumberCard-col-os p {

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
.PurchaseNumberCard-os {
  background-image: linear-gradient( var(--primary) , #ff6219);
  padding: 2px;
  border-radius: 8px;
}
.PurchaseNumberCard-col-os {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background: #ffffff;
  border-radius: 5.26476px;
  padding: 1.5rem 1rem;
  height: 100%;
}
.PurchaseNumberCard-image-os {
  display: flex;
}

@media screen and (max-width: 576px) {
  .PurchaseNumberCard-col-os {
    padding: 2rem;
    min-height: 220px;
    justify-content: center;
  }
}
