.benefit-card-image-os img {
  height: 34px;
  width: auto;
  display: flex;
}
.benefit-card-text-os {

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  /* min-height: 60px; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
}
.benefit-card-col-os {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  min-height: 140px;
  justify-content: space-between;
  height: 100%;
}
.benefit-card-os {
  background-image: linear-gradient( var(--primary) , #ff6219);
  padding: 3px 3px 3.1px 3px;
  border-radius: 8px;
}

@media screen and (max-width: 767px) {
  .benefit-card-text-os {
    font-size: 14px;
  }
}
