.WhyChooseHeading-section-os p {

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.WhyChooseHeading-section-os h2 {

  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #333333;
  margin: 0;
}