/* .HowWeDeliverBanner-row-os {
  justify-content: center;
}

.HowWeDeliverBanner-section-os {
  padding-bottom: 1rem;
}

.HowWeDeliverBanner-row-os {
  justify-content: center;
  background-image: url("https://d3re4dy3egxmsz.cloudfront.net/assets/img/vip-images/suggestionBanner_zyuobz.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 250px;
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.HowWeDeliverBanner-row-os h1 {

  font-style: normal;
  font-weight: 800;
  font-size: 54.03px;
  line-height: 63px;
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.HowWeDeliverBanner-row-os p {

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.HowWeDeliverBanner-row-os a {

  font-style: normal;
  font-weight: 400;
  font-size: 17.8882px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-decoration: none;
  padding: 12px 2rem;
  width: max-content;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 30px;
}
.HowWeDeliverBanner-row-os a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 576px) {
  .HowWeDeliverBanner-row-os h1 {
    font-size: 24px;
    line-height: 32px;
    padding: 0 1rem;
  }
  .HowWeDeliverBanner-row-os a {
    font-size: 14px;
    line-height: 21px;
    padding: 8px 1.5rem;
  }
  .HowWeDeliverBanner-row-os {
    min-height: unset;
    border-radius: 12px;
    padding: 2rem 0;
  }
  .HowWeDeliverBanner-section-os {
    padding-bottom: 0.5rem;
  }
} */
