.ViewMoreButton-button-os {
  
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
color: var(--primary)  ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: max-content;
  margin: 0px auto;
  text-decoration: none;
  border-style: none;
  background: transparent;
}

.SearchByPrice-section-os .ViewMoreButton-button-os {
  
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: var(--primary);  
  border: 2px solid var(--secondary);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 8px; */
  width: max-content;
  height: 48px;
  margin: 0 auto;
  text-decoration: none;
  padding: 0 2rem;
  transition: .3s;
}

.ViewMoreButton-button-rs-btn {
  
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: var(--primary);  
  border: 2px solid var(--secondary);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 8px; */
  width: max-content;
  height: 48px;
  margin: 0 auto;
  text-decoration: none;
  padding: 0 2rem;
  transition: .3s;
  margin-top: 1rem;
}

.SuggestionFeaturedNumber-section-os .ViewMoreButton-button-os {
  
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: var(--primary);  
  border: 2px solid var(--secondary);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 8px; */
  width: max-content;
  height: 48px;
  margin: 0 auto;
  text-decoration: none;
  padding: 0 2rem;
  transition: .3s;
}

.ViewMoreButton-button-os:hover {
  transition: 0.3s;
}

.ViewMoreButton-button-rs-btn:hover {
  border: 2px solid #5701ff;
  background: rgb(241, 108, 25);
  color: #fff;
}

@media screen and (max-width: 576px) {



  .ViewMoreButton-button-os {
    line-height: 20px;
 
  }
}


.div-gk button.ViewMoreButton-button-os {
  color: white;
  padding: 10px;
}
