.submit-button-os button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 119.5%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--primary);  
  border-radius: 10px;
  width: 100%;
  border: none;
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.submit-button-os button:hover {
  opacity: 0.8;
}
